*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
.a-container {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  padding: 10px 16px 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.a-container h2 {
  padding:auto;
  width:40%;
  margin:20px auto;
  color: #764802;
  border-radius: 8px;
  font-size: 1.25rem;
  z-index: 2;
}

.destination-f .f-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width:500px;
}

.destination-f label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.destination-f input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.destination-f input:focus {
  border-color: #0f98b3;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #0f98b3;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0d7a94;
}
