.booking-section {
  min-height: 150vh;
  background:black;
  display: flex;
  justify-content: center;
  width:100vw;
  align-items: center;
  padding: 20px;
  background: transparent;
}

.booking-card {
  background: #ffffff;
  width: 600px;
  height:100%;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.booking-title {
  text-align: center;
  font-size: 26px;
  color: #4a2604;
  margin-bottom: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #5a3206;
  font-weight: 600;
}

.form-group input,
.form-group select {
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #c8a676;
  outline: none;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #7a4a1a;
  box-shadow: 0 0 0 2px rgba(122, 74, 26, 0.2);
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 6px;
}

.radio-group label {
  font-size: 14px;
  color: #4a2604;
  cursor: pointer;
}

.booking-btn {
  width: 100%;
  padding: 12px;
  background: #5a3206;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.booking-btn:hover {
  background: #7a4a1a;
}
